<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Widgets']" icon="list-alt" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <sa-stats></sa-stats>
    </div>
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 sortable-grid">
                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget>
                    <!-- widget options:
                        usage: <div sa-widget id="wid-id-0" [editbutton]="false">
                        [colorbutton]="false"
                        [editbutton]="false"
                        [togglebutton]="false"
                        [deletebutton]="false"
                        [fullscreenbutton]="false"
                        [custombutton]="false"
                        [collapsed]="true"
                        [sortable]="false"
                    -->
                    <header>
                        <h2><strong>Default</strong> <i>Widget</i></h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <a (click)="(null)" class="btn btn-default btn-lg">Agregar Grafica</a>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <div sa-widget>
                    <!-- widget options:
                        usage: <div sa-widget id="wid-id-0" [editbutton]="false">
                        [colorbutton]="false"
                        [editbutton]="false"
                        [togglebutton]="false"
                        [deletebutton]="false"
                        [fullscreenbutton]="false"
                        [custombutton]="false"
                        [collapsed]="true"
                        [sortable]="false"
                    -->
                    <header>
                        <h2><strong>Default</strong> <i>Widget</i></h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <sa-morris-graph [data]="morrisDemoData"
                                             type="bar"
                                             [options]="{
                              xkey: 'x',
                              ykeys: 'y',
                              labels: 'Y',
                              barColors: barColorsDemo

              }"></sa-morris-graph>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 sortable-grid">
                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget>
                    <!-- widget options:
                        usage: <div sa-widget id="wid-id-0" [editbutton]="false">
                        [colorbutton]="false"
                        [editbutton]="false"
                        [togglebutton]="false"
                        [deletebutton]="false"
                        [fullscreenbutton]="false"
                        [custombutton]="false"
                        [collapsed]="true"
                        [sortable]="false"
                    -->
                    <header>
                        <h2><strong>Default</strong> <i>Widget</i></h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <p> Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>
                                to the <code>.widget-body</code> class. The default widget also comes with 5 widget buttons as displayed on top right
                                corner of the widget header. </p>
                            <a (click)="(null)" class="btn btn-default btn-lg"> <strong>Big</strong> <i>Button</i> </a>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <div sa-widget>
                    <!-- widget options:
                        usage: <div sa-widget id="wid-id-0" [editbutton]="false">
                        [colorbutton]="false"
                        [editbutton]="false"
                        [togglebutton]="false"
                        [deletebutton]="false"
                        [fullscreenbutton]="false"
                        [custombutton]="false"
                        [collapsed]="true"
                        [sortable]="false"
                    -->
                    <header>
                        <h2><strong>Default</strong> <i>Widget</i></h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <p> Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>
                                to the <code>.widget-body</code> class. The default widget also comes with 5 widget buttons as displayed on top right
                                corner of the widget header. </p>
                            <a (click)="(null)" class="btn btn-default btn-lg"> <strong>Big</strong> <i>Button</i> </a>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
            <!-- WIDGET END -->
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h1>Basic Usage</h1>
                    <div class="alert alert-info">
                        Note: You must delete the data-attribute* associated in order to act as true. For example <code> data-widget-[togglebutton]=&quot;true&quot;</code> will still act as <code>false</code>, you must remove the <strong>data-attribute</strong> for the statement to be true.
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width:25%">HTML5 data attributes / CSS / HTML</th>
                            <th style="width:15%">Place after</th>
                            <th style="width:15%">Example value(s)</th>
                            <th style="width:45%">Desctription</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>data-widget-sortable</td>
                            <td><code>header</code></td>
                            <td>false</td>
                            <td>Prevent a widget from being sortable <i>(can only be used with the value 'false')</i>.</td>
                        </tr>
                        <tr>
                            <td>data-widget-icon</td>
                            <td><code>.jarviswidget</code></td>
                            <td>fa fa-trash</td>
                            <td>Use a icon in the widgets header <i>(see icons section for all list of icons)</i>.</td>
                        </tr>
                        <tr>
                            <td>data-widget-togglebutton</td>
                            <td><code>.jarviswidget</code></td>
                            <td>false</td>
                            <td>Prevent a widget from having a toggle button <i>(can only be used with the value 'false')</i>.</td>
                        </tr>
                        <tr>
                            <td>data-widget-deletebutton</td>
                            <td><code>.jarviswidget</code></td>
                            <td>false</td>
                            <td>Prevent a widget from having a delete button <i>(can only be used with the value 'false')</i>.</td>
                        </tr>
                        <tr>
                            <td>data-widget-editbutton</td>
                            <td><code>.jarviswidget</code></td>
                            <td>false</td>
                            <td>Prevent a widget from having a edit button <i>(can only be used with the value 'false')</i>.</td>
                        </tr>
                        <tr>
                            <td>data-widget-fullscreenbutton</td>
                            <td><code>.jarviswidget</code></td>
                            <td>false</td>
                            <td>Prevent a widget from having a fullscreen button <i>(can only be used with the value 'false')</i>.</td>
                        </tr>
                        <tr>
                            <td>data-widget-load</td>
                            <td><code>.jarviswidget</code></td>
                            <td>widget-ajax.php</td>
                            <td>The file that is loaded with ajax.</td>
                        </tr>
                        <tr>
                            <td>data-widget-refresh</td>
                            <td><code>.jarviswidget</code></td>
                            <td>10</td>
                            <td>Seconds to refresh a ajax file <i>(see 'data-widget-load')</i>.</td>
                        </tr>
                        <tr>
                            <td>data-widget-refreshbutton</td>
                            <td><code>.jarviswidget</code></td>
                            <td>false</td>
                            <td>Prevent a ajax widget from showing a refresh button <i>(can only be used with the value 'false')</i>.</td>
                        </tr>
                        <tr>
                            <td>data-widget-hidden</td>
                            <td><code>.jarviswidget</code></td>
                            <td>true</td>
                            <td>Hide a widget at load <i>(can only be used with the value 'true')</i>.</td>
                        </tr>
                        <tr>
                            <td> data-widget-colorbutton</td>
                            <td><code>.jarviswidget</code></td>
                            <td>false</td>
                            <td>This is active by default, set it to false to hide.</td>
                        </tr>
                        <tr>
                            <td>data-widget-collapsed</td>
                            <td><code>.jarviswidget</code></td>
                            <td>false</td>
                            <td>Collapse a widget upon load <i>(can only be used with the value 'true')</i>. This will allways be collapsed every page load.</td>
                        </tr>
                        <tr>
                            <td>data-widget-grid</td>
                            <td><code>article</code></td>
                            <td>false</td>
                            <td>You can exclude grids from being a sortable/droppable area, this means that all widgets in this area will work, but cant be sortable/droppable and that all other
                                widgets cant be dropped in this area. Add this attribute <i>(can only be used with the value 'false')</i> to a grid element.</td>
                        </tr>
                        <tr>
                            <td><code>.no-padding</code></td>
                            <td><code>.widget-body</code></td>
                            <td>n/a</td>
                            <td>Removes all padding inside widget body</td>
                        </tr>
                        <tr>
                            <td><code>.well</code></td>
                            <td><code>.jarviswidget</code></td>
                            <td>n/a</td>
                            <td>Converts a widget to a well</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">These HTML5 attributes are used as individual widget options. Main options can be changed in the widgets plugin it self.
                                Notice: data attributes can only have 1 boolan value(see above)!
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- end row -->
    </sa-widgets-grid>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
